html,body{
	background-color: black;
	background-image: url("music.jpg");
	background-size: cover;
	color: white;
	font-family: 'Jura', sans-serif;

}

button{
	background-color: #FFD429;
	border:solid 1px black;
}
#volume{
	width: 75px;
}

#player{
	margin-left:20px;
	height: auto;
	width: 375px;
	border-radius: 5px;
	background-color: rgba(255,212,41,0.5);
}